body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #fbfbfd !important;
}

p, h2, h1 {
    margin-bottom: 0px !important;
}


.myRow {
    display: table-row;
}

/* Container */

.containerApp {
    width: 70%;
    margin: 0 auto;
    height: auto;
}

/* Nav */

.nav {
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.navALL {
    display: table;
    width: 94%;
    padding: 10px 0;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.navLeft {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.navRight {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.navFlex {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    width: 750px;
}

/* width */
.navFlex::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }
  
  /* Track */
  .navFlex::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  .navFlex::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .navFlex::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.navFlexRight {
    display: flex;
    justify-content: flex-end;
}

button#createEvent {
    padding: 10px 14px;
    border-radius: 5px;
    background: #37b148;
    color: #fff;
    border: none; outline: none;
    margin-right: 14px;
}

button#createEvent i {
    margin-right: 10px;
}

.searchBox {
    width: 200px;
    display: table;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
}

.searchBoxLeft {
    width: 95%;
    display: table-cell;
    vertical-align: middle;
}

.searchBoxRight {
    width: 5%;
    display: table-cell;
    vertical-align: middle;
}

.searchBoxLeft input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: none; outline: none;
    background: transparent;
}

/* Main */

.main {
    width: 100%;
    height: auto;
}

.mainALL {
    display: table;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 40px;
    margin-top: -20px;
}

.mainCellLeft {
    display: table-cell;
    width: 70%;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    padding-bottom: 20px;
}

.mainCellRight {
    display: table-cell;
    width: 30%;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
}

.mainCardFlex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 40px 0;
    flex-wrap: wrap;
}

.mainCard {
    width: 32%;
    height: auto;
    min-height: 320px;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0.59%;
}

.mainCardImage {
    width: 100%;
    height: 140px;
    position: relative;
}

.mainCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.mainCardContent {
    width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    border-spacing: 0;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.mainCardContentLeft {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
    text-align: center;
    font-size: 1.1em;
}

.mainCardContentRight {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
    text-align: left;
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 14px 30px;
}

.mainCardContentRight p,  .mainCardContentRight h1 {
    padding-bottom: 5px;
}

.mainCardContentRight h1 {
    font-size: 1.1em;
}

.contentCard {
    border-right: 1px solid #eee;
}

.weekDay {
    color : #676769;
    font-size: 0.9em;
}

.monthDay {
    color: #141414;
    font-size: 1.3em;
}

.mainCardButton {
    width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    border-spacing: 0;
    box-sizing: border-box;
    padding: 10px 5px;
}

.mainCardButtonLeft {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mainCardButtonRight {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em;
    color: #676769;
}

.mainCardButtonLeft button {
    width: 74%;
    padding: 5px 0;
    color: #222;
    background: rgb(229, 229, 230, 0.5);
    border-radius: 5px;
    border: none; outline: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    font-size: 0.9em;
}

.heading {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
}

/* Etkinlikler */

.events {
    width: 100%;
    height: auto;
    padding: 0 0 20px 0;
}

.eventsTop {
    width: 70%;
    height: auto;
    display: table;
    border-spacing: 0;
}

.eventsTopLeft {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 15%;
}

.eventsTopRight {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 85%;
    box-sizing: border-box;
    padding: 0 30px;
}

.eventsTopTitle {
    font-size: 1.1em;
}

.eventsTopDate {
    color: #676769;
    font-size: 0.8em;
    padding: 3px 0;
}

.eventsTopImage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0;
}

.eventsTopImage img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.eventsTop .weekDay {
    font-size: 1.2em;
}

.eventsTop .monthDay {
    font-size: 1.8em;
}

.eventsBottom {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.eventsBottom button {
    padding: 8px 4px;
    width: 150px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #676769;
    outline: none;
    background: transparent;
}

.eventsBottom button i {
    margin-right: 10px;
    color: #d9d9d9;
}

.selection {
    padding: 8px 4px;
    width: 150px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676769;
    margin-right: 14px;
    margin-bottom: 3px;
    flex: 0 0 auto;
    position: relative;
}

.selection:hover .selectionMenuALL {
    display: block;
}

.selectionMenuALL {
    padding: 10px 0;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.selectionMenu {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    border: 1px solid #eee;
}

.selectionMenu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.selectionMenu ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    cursor: pointer;
}

.selectionMenu ul li:last-child {
    border-bottom: none;
}

#selection {
    width: auto; padding: 10px 14px;
}

.selection span {
    margin-left: -10px;
}

.selection .arrowWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8px;
    font-size: 0.7em;
}

.leftALL {
    box-sizing: border-box;
    padding: 14px 8px 0 8px;
    color: #1c92ed;
    font-size: 1.2em;
    text-align: center;
    width: 80%;
}

.rightContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 10px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.rightFlex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.rightCard {
    margin: 0 1% 14px 1%;
    width: 48%;
    height: 150px;
    background: #1c92ed;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.rightCardTint {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.rightCardTint p {
    padding: 5px 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.absoluteIcon {
    position: absolute;
    font-size: 6em;
    bottom: -10px;
    right: -10px;
    color: rgb(255, 255, 255, 0.2)
}

.rightList {
    width: 100%;
    height: auto;
    color: #676769;
}

.rightList ul {
    width: 100%;
    padding: 10px 0;
    list-style: none;
}

.rightList ul li {
    padding: 10px 10px 16px 10px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.rightList ul li i {
    margin-right: 14px;
}

.rightDevam {
    width: 100%;
    padding: 0 0;
    text-align: center;
    color: #676769;
    font-weight: bold;
}

.rightHeading {
    box-sizing: border-box;
    padding: 0 8px 14px 8px;
    color: #1c92ed;
    font-size: 1.2em;
}

/* Takvim */

.takvim {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background: rgb(4, 4, 28, 0.5);
    top: 0; left: 0;
    overflow: scroll;
    display: none;
}

.takvim::-webkit-scrollbar {
    display: none;
}

.takvimALL {
    display: table;
    width: 96%;
    margin: 2vh auto;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    padding: 0;
    height: 96vh;
}

#addImage {
    padding: 8px 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none; outline: none;
    border-radius: 10px;
}

/* Etkinlik Oluştur */

.createEvent {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background: rgb(4, 4, 28, 0.5);
    top: 0; left: 0;
    overflow: scroll;
    display: none;
}

.createEvent::-webkit-scrollbar {
    display: none;
}

.createALL {
    display: table;
    width: 30%;
    margin: 90px auto;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    padding: 0;
    height: auto;
}

.createHeader {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.createHeaderALL {
    display: table;
    width: 94%;
    margin: 0 auto;
    padding: 20px 0;
}

.createHeaderLeft {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.createHeaderRight {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.createHeaderLeft h1 {
    font-size: 1.1em;
}

.createHeaderRight i {
    color: #d9d9d9;
    font-size: 0.8em;
}

.createImg {
    width: 94%;
    height: 150px;
    position: relative;
    margin: 10px auto 10px auto;
}

.createImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.createTable {
    width: 94%;
    display: table;
    margin: 0 auto;
    color: #676769;
    padding-bottom: 14px;
}

.buttonCellLeft {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
}

.buttonCellRight {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: right;
}

.buttonCellLeft button.cancelModal {
    padding: 7px 14px;
    color: #222;
    background: rgb(229, 229, 230, 0.5);
    border-radius: 5px;
    border: none; outline: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    font-size: 0.9em;
}

.buttonCellRight button.createModal {
    padding: 7px 14px;
    border-radius: 5px;
    background: #37b148;
    color: #fff;
    border: none;
    outline: none;
}

.createCellHalf {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
}

.createCell {
    display: table-cell;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: left;
}

.createTable input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
    border-radius: 3px;
    border: 0.5px solid #eee;
    margin-top: 5px;
}

.createTable textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
    border-radius: 3px;
    border: 0.5px solid #eee;
    margin-top: 5px;
}





/* RESPONSIVE */

/* MOBILE CSS */

@media screen and (max-width:767px) and (min-width:100px) {

.containerApp {
    width: 98%;
}

.mainALL {
    border-spacing: 0;
    margin-top: 0;
}    

.mainCellLeft, .mainCellRight {
    display: table-row;
}     

.mainCard {
    width: 100%;
    margin: 0 0 20px 0;
}  

.rightCard {
    width: 100%;
    margin: 0 0 20px 0;
}

.eventsBottom {
    flex-direction: column;
}

#selection {
    margin-left: 0 !important;
}

.navFlex, .navFlexRight {
    flex-direction: column;
}

.navFlex {
    width: auto;
    flex-wrap: wrap;
}

.navLeft, .navRight {
    display: table-row;
}

.navALL {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.selection {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 0;
}

.searchBox {
    width: 100%;
    margin-bottom: 10px;
}

#createEvent {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
}

.eventsBottom, .eventsTop {
    width: 100%;
}

.eventsBottom button {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.leftALL {
    width: 100%;
}

.createALL {
    width: 98%;
    margin-top: 20px;
}

             
}
                                  
@media screen and (max-width:991px) and (min-width:768px) { 
    
    
            
}
                                                               
                                  
@media screen and (max-width:1024px) and (min-width:992px) { 
      
      
                         
}
            
@media screen and (max-width:1280px) and (min-width:1025px) { 
            
    .containerApp {
        width: 98%;;
    } 

    .createALL {
        width: 40%;
        margin-top: 70px;
    }
    
}